/* Style Resets */
body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* Grid and General Layout */

.section {
  padding: 2rem;
  background: black;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.row {
  /*Makes sure the first and last items
  lines up with the edges of the page*/
  margin: -2rem;
  overflow: auto;
}
.grid-item {
  width: calc(100% / 4 - 2rem - 2rem);
  min-width: 8rem;
  float: left;
  margin: 2rem;
}

.profile {
  margin: 0;
}

.profile__username {
  font-size: 1.6rem;
  text-align: center;
  color: rgb(255,255,255);
}

/* Prompt */

.prompt {
  text-align: center;
  color: rgb(255,255,255);
}
